.cardWrapper {
  border: 1px solid #fff;
  height: 300px;
  width: 200px;
  display: inline-table;
  margin: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.2s;
  position: relative;
}

.cardWrapper:hover {
  transform: scale(1.1);
}

.cardWrapper:hover .favIcon {
  opacity: 1;
}

.favIcon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px;
  border-bottom-left-radius: 25px;
  background: rgb(0 0 0 / 80%);
  opacity: 0;
  transition: 0.5s ease;
  cursor: pointer;
}
