.header {
  position: relative;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}

.headerAppName {
  cursor: pointer;
}

.searchInput {
  position: absolute;
  right: 10px;
}
:focus {
  outline: none;
}
