.personWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  width: 300px;
}
.avatarStyle {
  text-align: center;
}
.nameStyle {
  font-size: 12px;
}
