.appContainer {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.movieHeaderText {
  padding: 0px 20px;
}

.hrStyle {
  margin: 0px 20px;
  background-color: white;
}

.movieListContainer {
  display: flex;
  width: auto;
  overflow-x: scroll;
  margin: 20px;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.loadMoreIcon {
  align-self: center;
  cursor: pointer;
  color: #25b9ca;
  transition: transform 0.2s;
}

.loadMoreIcon:hover {
  transform: scale(1.1);
}
